/* 
    Default styles for jsPlumb Toolkit

    Copyright 2020 https://jsplumbtoolkit.com
*/

/* --------------------------------------------------------------------------------------------- */
/* --- SURFACE WIDGET -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/*
    Assigned to SVG elements for edges. This style allows overlays to paint outside the bounds, and
    for arbitrary stroke widths for connectors.
 */
.jtk-connector {
    overflow:visible;
}

/*
    Assigned to every Node managed by an instance of the Toolkit. They are required to be positioned absolute, to
    enable dragging to work properly.
*/
.jtk-node {
    position: absolute;
}

/*
    Assigned to every Group managed by an instance of the Toolkit. They are required to be positioned absolute, to
    enable dragging to work properly. We set overflow:visible on Group elements too, as a drag outside of the bounds
    is automatically reverted anyway, and without overflow:visible you cannot drag a node to some other element. You can
    also drag a node out of the element's viewport and if you drop it you can never get it back.
*/
.jtk-group {
    position: absolute;
    overflow: visible;
}

/*
    Default behaviour for children of a collapsed group - hide them.
 */
[data-jtk-group].jtk-group-collapsed [data-jtk-managed] {
    display:none;
}

/*

    This is the attribute used to mark which part of a Group DOM element should contain the child Nodes. We mark it
    as having `position:relative` so that the absolute positioned Nodes are drawn correctly.
*/
[data-jtk-group-content] {
    position:relative;
}

/*
    This style was created in response to this Chrome bug:
    http://stackoverflow.com/questions/13758215/artifacts-when-css-scaled-in-chrome

    Basically it's about how sometimes there can be artefacts left on screen when the user drags an element. It seems
    the issue has been fixed in more recent versions of Chrome, but the style is left here in case you come across
    the problem.
*/
.jtk-node.jtk-drag {
    /*-webkit-backface-visibility: hidden;*/
}

/*
    Suppresses the pointer events on an element that was created by Katavorio in response to a drag in which the element
    should first be cloned. Having this clone ignore pointer events means there is less chance that any other
    mouse activity (such as click) on the original element will not be consumed by katavorio.
 */
.katavorio-clone-drag {
    pointer-events:none;
}

/*
    Assigned to an element that is the `Container` in a `render` call.
    Elements that are acting as Surface widgets should have overflow:hidden set to prevent libs from
    scrolling them during drag (we don't want scrollbars; we have an infinite canvas). Position is set to
    `relative` as this is the parent for nodes, which are positioned absolute (and for absolute positioning
    to work, you need to ensure the parent node has `position:relative`). This style also sets some default
    values for the cursor - using a `grab` cursor where supported.
*/
.jtk-surface {
    overflow: hidden !important;
    position: relative;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    /*
        For IE10+. As discussed on this page:

        https://msdn.microsoft.com/en-us/library/ie/jj583807(v=vs.85).aspx

        Microsoft have very helpfully implemented default behaviours for a bunch of touch events and
        then consumed the events so you don't have to be bothered by them. They've "done a lot of research"
        about this stuff and put together a really great default experience for everyone in the entire world.
    */
    touch-action:none;

    /*
        Another Chrome issue that appears to have been fixed in later versions
        http://stackoverflow.com/questions/15464055/css-transition-effect-makes-image-blurry-moves-image-1px-in-chrome
    */
    /*
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    */
}

/**
* Assigned to a Surface element when direct rendering is switched on - no pan or zoom, the underlying canvas scaled to fit its contents at zoom:1.
 */
.jtk-surface-direct-render {
    overflow:hidden !important;
}

/*
    Assigned to the surface when it is being panned. The default is to change the cursor (in browsers that support
    a `grabbing` cursor), and to disable text selection.
*/
.jtk-surface-panning {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
    The work area in a surface renderer.
*/
.jtk-surface-canvas {
    overflow: visible !important;
}

/*
    For IE10+. Discussed above in the .jtk-surface styles. This one is specific to elements that are configured
    to be droppable on a Surface via its `registerDroppableNodes` method.
*/
.jtk-surface-droppable-node {
    touch-action:none;
}

/*
    Assigned to a Surface widget when panning is disabled (and therefore the app is relying on scrollbars when the content overflows).
*/
.jtk-surface-nopan {
    overflow: scroll !important;
    cursor:default;
}

/*
Assigned to tile images in a tiled background
*/
.jtk-surface-tile {
    border:none;
    outline:none;
    margin:0;
    -webkit-transition: opacity .3s ease .15s;
    -moz-transition: opacity .3s ease .15s;
    -o-transition: opacity .3s ease .15s;
    -ms-transition: opacity .3s ease .15s;
    transition: opacity .3s ease .15s;
}

/*
    Assigned to the element used for node select with the mouse ("lasso").
*/
.jtk-lasso {
    border: 2px solid rgb(49, 119, 184);
    background-color: WhiteSmoke;
    opacity: 0.5;
    display: none;
    z-index: 20000;
    position: absolute;
}

/*
    This class is added to the document body on lasso drag start and removed at the end of lasso dragging. Its purpose
    is to switch off text selection on all elements while the user is dragging the lasso.
*/
.jtk-lasso-select-defeat * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
    Added to the lasso mask when it is operating in 'inverted' mode, ie. the excluded parts of the UI are covered, rather
    than the normal mode in which the selected parts of the UI are covered.
*/
.jtk-lasso-mask {
    position:fixed;
    z-index:20000;
    display:none;
    opacity:0.5;
    background-color: #07234E;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/*
    Assigned to some element that has been selected (either via lasso or programmatically).
*/
.jtk-surface-selected-element {
    border: 2px dotted #c7726c !important;
}

/*
    Assigned to all pan buttons in a surface widget.
*/
.jtk-surface-pan {
    background-color: Azure;
    opacity: 0.4;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: background-color 0.15s ease-in;
    -moz-transition: background-color 0.15s ease-in;
    -o-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
}

/*
    Specific styles for the top and bottom pan buttons.
    Top/bottom are 100% width and 20px high by default
*/
.jtk-surface-pan-top, .jtk-surface-pan-bottom {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

/*
    Hover styles for all pan buttons.
    On hover, change color, background color, font weight and opacity.
*/
.jtk-surface-pan-top:hover, .jtk-surface-pan-bottom:hover, .jtk-surface-pan-left:hover, .jtk-surface-pan-right:hover {
    opacity: 0.6;
    background-color: rgb(49, 119, 184);
    color: white;
    font-weight: bold;
}

/*
    Specific styles for the left and right pan buttons.
    Left/right pan buttons are 100% height and 20px wide
*/
.jtk-surface-pan-left, .jtk-surface-pan-right {
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}


/*
    Assigned to a pan button when the user is pressing it.
*/
.jtk-surface-pan-active, .jtk-surface-pan-active:hover {
    background-color: #f76258;
}

/* --------------------------------------------------------------------------------------------- */
/* --- MINIVIEW WIDGET ------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/*
    Assigned to an element that is acting as a Miniview.
    As with Surface, Miniview elements should have overflow:hidden set to prevent
    libs from scrolling them during drag. This style also provides a default width/height for a miniview,
    which you may wish to override.
*/
.jtk-miniview {
    overflow: hidden !important;
    width: 125px;
    height: 125px;
    position: relative;
    background-color: transparent;
    border: 2px solid #d4d8dc;
    border-radius: 4px;
    opacity: 0.8;
}

/* 
    Assigned to the element that shows the size of the related viewport in a Miniview widget, and which can be dragged to
    move the surface.
*/
.jtk-miniview-panner {
    border: 5px dotted WhiteSmoke;
    opacity: 0.4;
    background-color: rgb(79, 111, 126);
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/*
    Assigned to the miniview's panner when it is being dragged.
*/
.jtk-miniview-panning {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/*
    Added to all elements displayed in a miniview.
*/
.jtk-miniview-element {
    background-color: rgb(96, 122, 134);
    position: absolute;
}

/*
    Added to Group elements displayed in a miniview
*/
.jtk-miniview-group-element {
    background: transparent;
    border: 3px solid black;
}

/*
    Assigned to the collapse/expand miniview button
*/
.jtk-miniview-collapse {
    color: whiteSmoke;
    position: absolute;
    font-size: 18px;
    top: -1px;
    right: 3px;
    cursor: pointer;
    font-weight: bold;
}

/*
    The '-' symbol when the miniview is expanded
*/
.jtk-miniview-collapse:before {
    content: "\2012";
}

/*
    Assigned to the miniview element when it is collapsed.
*/
.jtk-miniview-collapsed {
    background-color: #449ea6;
    border-radius: 4px;
    height: 22px;
    margin-right: 0;
    padding: 4px;
    width: 21px;
}

/*
    Hide all children of the miniview (except the expand button) when it is collapsed so you don't see anything
    poking through under the + icon.
*/
.jtk-miniview-collapsed .jtk-miniview-element, .jtk-miniview-collapsed .jtk-miniview-panner {
    visibility: hidden;
}

/*
    The '+' symbol when the miniview is collapsed.
*/
.jtk-miniview-collapsed .jtk-miniview-collapse:before {
    content: "+";
}

/*
    Hover state for the collapse/expand icon.
*/
.jtk-miniview-collapse:hover {
    color: #E4F013;
}

/* -------------------------------------------------------------------------------------------- */
/* --- DRAWING TOOLS -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */

/*
    Assigned to the element that is drawn around some other element when a drawing operation is taking place.
*/
.jtk-draw-skeleton {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 2px solid #84acb3;
    opacity: 0.8;
}

/*
    Assigned to every handle (top left, top right, bottom left, bottom right, center) in a draw skeleton.
*/
.jtk-draw-handle {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #84acb3;
}

/*
    Assigned to the top left handle in a draw skeleton
*/
.jtk-draw-handle-tl {
    left: 0;
    top: 0;
    cursor: nw-resize;
}

/*
    Assigned to the top right handle in a draw skeleton
*/
.jtk-draw-handle-tr {
    right: 0;
    top: 0;
    cursor: ne-resize;
}

/*
    Assigned to the bottom left handle in a draw skeleton
*/
.jtk-draw-handle-bl {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}

/*
    Assigned to the bottom right handle in a draw skeleton
*/
.jtk-draw-handle-br {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

/*
    Assigned to the center handle in a draw skeleton (the handle by which the element may be dragged). This is
    not visible by defaut; enable if you need it.
*/
.jtk-draw-drag {
    display:none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: #84acb3;
    cursor: move;
}

/*
    This class is added to the document body on drag resize start and removed at the end of resizing. Its purpose
    is to switch off text selection on all elements while the user is resizing an element.
*/
.jtk-drag-select-defeat * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ------------------------------------------------------------------------------------------- */
/* --- DIALOGS --------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------- */

/*
    This is the element that acts as the dialog underlay - the modal "mask". Note the high z-index default
    set here (and note also the overlay style below has a z-index with a value higher by one).
*/
.jtk-dialog-underlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 100000;
    opacity: 0.8;
    background-color: #CCC;
    display: none;
}

/*
    This is the element that acts as the parent for dialog content.
*/
.jtk-dialog-overlay {
    position: fixed;
    z-index: 100001;
    display: none;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    padding: 9px;
    box-shadow: 0 0 5px grey;
    overflow: hidden;
    border-radius: 3px;
}

.jtk-dialog-overlay-x {
    max-height:0;
    transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    -ms-transition: max-height 0.5s ease-in;
    -o-transition: max-height 0.5s ease-in;
    -webkit-transition: max-height 0.5s ease-in;
}

.jtk-dialog-overlay-y {
    max-width:0;
    transition: max-width 0.5s ease-in;
    -moz-transition: max-width 0.5s ease-in;
    -ms-transition: max-width 0.5s ease-in;
    -o-transition: max-width 0.5s ease-in;
    -webkit-transition: max-width 0.5s ease-in;
}

.jtk-dialog-overlay-top {
    top:20px;
}

.jtk-dialog-overlay-bottom {
    bottom:20px;
}

.jtk-dialog-overlay-left {
    left:20px;
}

.jtk-dialog-overlay-right {
    right:20px;
}

.jtk-dialog-overlay-x.jtk-dialog-overlay-visible {
    max-height:1000px;
}

.jtk-dialog-overlay-y.jtk-dialog-overlay-visible {
    max-width:1000px;
}

/*
    The element containing buttons in a dialog.
*/
.jtk-dialog-buttons {
    text-align: right;
    margin-top: 7px;
}

/*
    An individual button in a dialog.
*/
.jtk-dialog-button {
    cursor: pointer;
    margin-right: 5px;
    min-width: 56px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px;
    outline: none;
}

/*
    Hover style for an individual button in a dialog.
*/
.jtk-dialog-button:hover {
    color: white;
    background-color: #5184a0;
    border-color:white;
}

/*
    The titlebar of a dialog.
*/
.jtk-dialog-title {
    text-align: left;
    font-size: 14px;
    margin-bottom: 9px;
}

.jtk-dialog-content {
    font-size:12px;
    text-align:left;
    min-width:250px;
    margin: 0 14px;
}

.jtk-dialog-content ul {
    width:100%;
    padding-left:0;
}

.jtk-dialog-content label {
    cursor: pointer;
    font-weight: inherit;
}

.jtk-dialog-overlay input, .jtk-dialog-overlay textarea {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    font-size: 14px;
    font-style: normal;
    outline: none;
    padding: 6px 4px;
    margin-right: 6px;
}

.jtk-dialog-overlay input:focus, .jtk-dialog-overlay textarea:focus {
    background-color: #f1f5fb;
    border: 1px solid #5184a0;
    color: #333;
    font-size: 14px;
    font-style: normal;
    outline: none;
}

/* ----------------------------------------------------------------------------------------------- */
/* -------------------------  styles for connector paths when editing ---------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/* jtk-connection-edit is set on an edge that is being edited. */
.jtk-connection-edit path {
    stroke:gold;
}

/* ----------------------------------------------------------------------------------------------- */
/* --------------------    Styles for Orthogonal editor ------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.jtk-orthogonal-handle {
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
    font-size:13px;
    border-radius:50%;
    background-color:#f7f6f6;
    cursor:move;
    z-index:10;
    color:black;
    box-shadow: 0 0 10px;
}

.jtk-orthogonal-segment-drag {
    cursor:move;
    cursor:grab;
}

.jtk-orthogonal-segment-drag-ns:before {
    content:"\2195";
}

.jtk-orthogonal-segment-drag-ew:before {
    content:"\2194";
}

.jtk-orthogonal-segment-drag:hover {
    background-color: white;
}

/* ----------------------------------------------------------------------------------------------- */
/* --------------------    Styles for Bezier/StateMachine editor --------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/*
    Identifies a handle used to drag a control point.
*/
.jtk-bezier-handle {
    width:15px;
    height:15px;
    line-height:15px;
    border-radius:50%;
    background-color:darkcyan;
    cursor:move;
    z-index:10;
    font-size:8px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.jtk-bezier-handle-control-point { }

/*
    The drag handle corresponding to the first control point. For StateMachine connectors only this handle is shown.
 */
.jtk-bezier-handle-control-point-1:before {
    content:"1";
}

/*
    The drag handle corresponding to the second control point. For StateMachine connectors only this handle is shown.
 */
.jtk-bezier-handle-control-point-2:before {
    content:"2";
}

.jtk-bezier-handle-control-point-3:before {
    content:"3";
}

.jtk-bezier-handle-control-point-4:before {
    content:"4";
}

.jtk-bezier-handle-secondary {
    cursor:default;
    background-color:lightgreen;
}

.jtk-bezier-handle-secondary-source {
    background-color: lavenderblush;
}

.jtk-bezier-guideline {
    position:absolute;
    stroke-dasharray: 2;
}

.jtk-bezier-guideline path {
    stroke:darkcyan;
    stroke-linewidth:3;
}

/* ----------------------------------------------------------------------------------------------- */
/* -----------------------------   Styles for anchor placeholders -------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/*
    Added to the element placed at the location of an anchor for a connection that is being edited. This applies
    to both dynamic and continuous anchors. Fixed anchors cannot be relocated.
*/
.jtk-anchor-placeholder {
    width: 20px;
    height: 20px;
    cursor: move;
    cursor:grab;
    border-radius: 50%;
    background-color:#f7f6f6;
    box-shadow: 0 0 4px;
}

/*
    Added to the elements drawn to show where a certain anchor may be relocated to (for dynamic anchors)
*/
.jtk-anchor-candidate {
    background-color:mediumseagreen;
    width: 20px;
    height: 20px;
}

/*
    `jtk-anchor-face` is an attribute written onto an element (source or target) when the connection that is being edited
    has `Continuous` anchors, and the user is dragging an anchor point to relocate it. The value of the attribute is the
    candidate face on the element.
 */
[jtk-anchor-face='left'] {
    border-left:4px solid gold !important;
}

[jtk-anchor-face='top'] {
    border-top:4px solid gold !important;
}

[jtk-anchor-face='right'] {
    border-right:4px solid gold !important;
}

[jtk-anchor-face='bottom'] {
    border-bottom:4px solid gold !important;
}


/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------- edge delete button ---------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */

.jtk-edge-delete {
    width:15px;
    height:15px;
    line-height: 15px;
    text-align: center;
    background-color:orangered;
    color:white;
    border-radius:50%;
    font-size:8px;
    cursor:pointer;
    font-family:sans-serif;
}

.jtk-edge-delete:before {
    content:"X";
}

/* ---------------------------------------------------------------------------------------------------- */
/* --- page structure --------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.jtk-graphview-main {
  display: flex;
  height: 100vh;
}

.jtk-graphview-inner {
  display: flex;
}

.jtk-graphview-main .description {
  font-size: 13px;
  padding: 13px;
}

.jtk-graphview-main .description ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.jtk-graphview-main .description li {
  list-style-type: disc !important;
  margin: 3px 0;
}

.jtk-graphview-canvas {
  background-color: white;
  display: flex;
  flex-grow: 1;
  position: relative;
  overflow: hidden !important;
}

.jtk-graphview-rhs {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f9f9f9;
  flex: 0 0 250px;
  padding: 20px 5px 0 5px;
}

.canvas-wide {
  margin-left: 0;
}

.miniview {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100;
}

.jtk-graphview-dataset {
  overflow: auto;
  font-size: 12px;
  font-family: Courier, monospace;
}

.jtk-graphview-dataset pre {
  white-space: pre-wrap;
}

.graphview-title {
  float: left;
  font-size: 18px;
}

.controls {
  top: 25px;
  color: #fff;
  margin-right: 10px;
  position: absolute;
  left: 25px;
  z-index: 1;
  display: flex;
  font-size: 14px;
}

.controls i {
  background-color: #5184a0;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 4px;
  border: 1px solid white;
  font-size: 22px;
  font-style: normal;
  width: 24px;
  height: 24px;
}

.controls i:not(.selected-mode):hover {
  background-color: white;
  color: #5184a0;
  border: 1px solid #5184a0;
}

.controls i:not(.selected-mode):active {
  color: white;
  background-color: #1d9ea0;
  border: 1px solid white;
}

[undo],
[redo] {
  background-color: darkgray !important;
}
[undo]:hover,
[redo]:hover {
  background-color: darkgray !important;
  color: white !important;
  border: 1px solid white !important;
}
[can-undo="true"] [undo],
[can-redo="true"] [redo] {
  background-color: #3e7e9c !important;
}
[can-undo="true"] [undo]:hover,
[can-redo="true"] [redo]:hover {
  background-color: white !important;
  color: #5184a0 !important;
  border: 1px solid #5184a0 !important;
}

/* ------------------------ node palette -------------------- */

.node-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jtk-graphview-sidebar {
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  background-color: #ccc;
  border-radius: 11px;
  color: #585858;
  cursor: move;
  padding: 8px;
  width: 128px;
  text-align: center;
  margin: 10px;
  outline: none;
}

.sidebar-item.katavorio-clone-drag {
  margin: 0;
  border: 1px solid white;
}

.sidebar-item:hover,
.sidebar-item.katavorio-clone-drag {
  background-color: #5184a0;
  color: white;
}
/* ---------------------------------------------------------------------------------------------------- */
/* --- jsPlumb setup ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.jtk-connector {
  z-index: 9;
}

.jtk-connector:hover,
.jtk-connector.jtk-hover {
  z-index: 10;
}

.jtk-endpoint {
  z-index: 12;
  opacity: 0.8;
  cursor: pointer;
}

.jtk-overlay {
  background-color: white;
  color: #434343;
  font-weight: 400;
  padding: 4px;
  z-index: 10;
}

.jtk-overlay.jtk-hover {
  color: #434343;
}

path {
  cursor: pointer;
}

.edit:hover {
  color: #ff8000;
}

.selected-mode {
  color: #e4f013;
}

.connect {
  width: 10px;
  height: 10px;
  background-color: #f76258;
  position: absolute;
  bottom: 13px;
  right: 5px;
}

/* header styles */

.graphview-links {
  position: fixed;
  right: 0;
  top: 57px;
  font-size: 11px;
  background-color: white;
  opacity: 0.8;
  padding-right: 10px;
  padding-left: 5px;
  text-transform: uppercase;
  z-index: 100001;
}

.graphview-links div {
  display: inline;
  margin-right: 7px;
  margin-left: 7px;
}

.graphview-links i {
  padding: 4px;
}
/*
.jtk-node {
  border:1px solid;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  z-index: 11;
  overflow: hidden;
  min-width:80px;
  min-height:30px;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.jtk-node .name {
  cursor: move;
  font-size: 13px;
  text-align: center;
}

.jtk-node .name span {
  cursor:pointer;
}

*/

/* icons */

.jtk-node .add,
.jtk-node .delete,
.jtk-node .node-edit {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
  padding-bottom: 2px;
}

.jtk-node .add:hover,
.jtk-node .delete:hover,
.jtk-node .node-edit,
.jtk-node .add.constant,
.jtk-node .delete.constant {
  color: white;
}

.jtk-node .add {
  right: 3px;
}

.jtk-node .add:after {
  content: "+";
}

.jtk-node .add:hover,
.jtk-node .add.constant {
  background-color: #4ea758;
}

.jtk-node .delete {
  left: 3px;
}

.jtk-node .delete:after {
  content: "x";
}

.jtk-node .delete:hover,
.jtk-node .delete.constant {
  background-color: #d83f3f;
}

.jtk-node .node-edit:after {
  content: "✎";
}

.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
}

.fa-plus:after {
  content: "+";
  margin-bottom: 0.2rem;
}

.fa-home:after {
  content: "⌂";
  margin-bottom: 0.4rem;
}

.fa-pencil:after {
  content: "✎";
}

.fa-arrows:after {
  content: "✥";
}

.fa-undo:after {
  content: "↺";
}

.fa-repeat:after {
  content: "↻";
}

.fa-times:after {
  content: "x";
}

/* ------------------------ local ----------------------------*/

.jtk-graphview-main {
  display: flex;
  height: 100vh;
}

.jtk-graphview-canvas {
  background-color: white;
  display: flex;
  flex-grow: 1;
  position: relative;
  overflow: hidden !important;
}

.jtk-graphview-rhs {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f9f9f9;
  flex: 0 0 250px;
  padding: 20px 5px 0 5px;
}

.node-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  background-color: #ccc;
  border-radius: 11px;
  color: #585858;
  cursor: move;
  padding: 8px;
  width: 128px;
  text-align: center;
  margin: 10px;
  outline: none;
}

.miniview {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100;
}

.jtk-graphview-main .description {
  font-size: 13px;
  padding: 13px;
}

.jtk-graphview-main .description ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.jtk-graphview-main .description li {
  list-style-type: disc !important;
  margin: 3px 0;
}

/* ------------------------ dialogs ----------------------------*/

/* ------------------------ dialogs ----------------------------*/

/* ----------------------- drag/drop interactions -------------- */
.drop-hover {
  background-color: #fccccc !important;
}

/* ----------------------- node styles ------------------------- */

.flowchart-object {
  z-index: 10;
  border: none;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.jtk-node svg {
  position: absolute;
  stroke: #ccc;
  stroke-width: 2px;
  fill: white;
  left: 0;
  top: 0;
}

.flowchart-object span {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  z-index: 10;
}

.flowchart-object .node-action {
  display: none;
  position: absolute;
  top: -14px;
  cursor: pointer;
  z-index: 10000;
  left: auto;
  color: white;
  transition: transform 0.1s;
  font-family: sans-serif;
  text-align: center;
  opacity: 0.9;
}

.flowchart-object .node-action:hover {
  transform: scale(1.3, 1.3);
}

.flowchart-object .node-edit {
  right: 25px;
  background-color: #4ea758;
}

.flowchart-object .node-delete {
  right: 4px;
  background-color: #d83f3f;
}

.flowchart-object.jtk-surface-selected-element .node-action {
  display: block;
  width: 15px;
  height: 15px;
  top: -20px;
  cursor: pointer;
  line-height: 15px;
}

.flowchart-object .connect {
  position: absolute;
  left: 50%;
  margin-left: -7.5px;
  background-color: rgb(132, 172, 179);
  transition: transform 0.1s;
}

.flowchart-object .connect:hover {
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.flowchart-action .connect {
  bottom: 18px;
}

.flowchart-question .connect {
  bottom: 28px;
}

.flowchart-start .connect {
  right: 17px;
  left: auto;
  top: 50%;
  margin-top: -7.5px;
}

.connect {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.connect:after {
  content: "→";
}

.connection-drop svg {
  fill: #ccc;
}

.connection-drop text {
  fill: black;
}

.jtk-overlay {
  z-index: 11;
}

/* --------------------- edge styles ----------------------------------- */

/*
    style for the delete button. this is in fact supplied in the editable connectors css as a default but on our own site
    the cascade conspires to elide the background color and foreground color. Without wanting to mark the style as `!important` in our defaults stylesheet,
    we instead supply them again here.
 */
.jtk-edge-delete {
  background-color: orangered;
  color: white;
}

/* styles for drag + drop */

.jtk-surface.jtk-drag-drop-active {
  outline: 6px dotted #4ea758 !important;
}

.jtk-surface.jtk-drag-drop-hover {
  outline: 6px solid #f7a45d !important;
}

svg.jtk-drag-drop-hover,
svg.jtk-drag-drop-active {
  outline: none !important;
}

svg.jtk-drag-drop-active path {
  stroke: #4ea758;
  stroke-width: 3px;
  stroke-dasharray: 2 0 2 5;
}

svg.jtk-drag-drop-hover path {
  stroke: #f7a45d;
  stroke-width: 4px;
  stroke-dasharray: 0;
}

.fa-times:after {
  content: "✖";
}

.fa-layout:after {
  content: "⇌";
}

.fa-help:after {
  content: "?";
}

/* --------------------- TMWB Node styles ----------------------------------- */

.ui-diagram-element {
  width: 14em;
  height: 4em;
  line-height: 4em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #4982de;
  color: #ffffff !important;
  font-weight: bold;
}

.ui-diagram-tariff {
  background-color: #eaf525;
  color: #000000 !important;
  font-weight: bold;
  border-color: #7ab02c;
}

.ui-diagram-condition {
  background-color: #c34a2c;
  color: #ffffff !important;
}

.flow-label {
  font-size: 24px;
  font-weight: bold;
  color: #816a51;
  font-weight: bold;
}

/* --------------------- Help Modal Dialog styles ----------------------------------- */

/* The Modal (background) */
.modal-help {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-help-content {
  background-color: #e0f2fa;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-help {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-help:hover,
.close-help:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-help-content .description {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  z-index: 10;
  padding: 13px;
}

.modal-help-content .description ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.modal-help-content .description li {
  list-style-type: disc !important;
  margin: 3px 0;
}

.node-rule-number, .node-text .node-expression {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px; /* Starting font size */
}

.node-expression {
  margin-top: 2px;
  margin-bottom: 4px;
  font-weight: bold;
}

.node-rule-number {
  margin-bottom: 4px; /* Space between rule number and text */
}

.node-edit, .node-delete {
    display: none !important;
}

.controls i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #5184a0;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    font-style: normal; /* Prevents italics if using emojis */
}

.controls i.selected-mode {
    background: #1d9ea0;
    border: 2px solid #e4f013;
}

/* Ensure there are NO transitions here */
.jtk-surface-canvas {
    transition: none !important; 
}